* {
	font-family: 'Roboto Slab', serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	font-size: 1em;
	color: #444;
}

body {
	background-color: #eee;
}

#container {
	max-width: 56%;
	margin: auto;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 1.6em;
}

em {
	font-weight: normal;
	font-style: italic;
}

.subhead > h2, .subhead > em {
	line-height: 1.8em;
}

.location {
	
}

/* BASIC ALIGNMENT */

.mid {
	padding-left: 8em;
}

.right {
	text-align: right;
}

.date {
	float: right;
}

/* LIST STYLING */
ul {
	list-style: outside;
	padding: 0 0 1em 1em;
	text-indent: -1em;
}

li {
	padding-left: 1em;
	line-height: 1.6em;
}

.no-bullet {
	list-style-type: none;
}

.circle {
	list-style-type: circle;
}


/* SCALING */
@media screen and (max-width: 1200px){
	.mid{
		padding-left: 4em;
	}
	
	#container{
		max-width: 80%;
	}
}

@media screen and (max-width: 800px){
	
	.mid {
		padding-left: 3em;
		clear: both;
	}
	
	.location {
		margin-bottom: 0.5em;
	}
	
	.subhead > h2, .subhead > em {
	line-height: 1.4em;
}
	
	.date {
		float: none;
	}
	
	.date:before {
		content: "\0a";
		display: block;
	}
	
	#container{
		max-width: 90%;
	}
}